* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: gray;
  font-weight: 600;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: white;
  height: 70px;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
    padding: 10px;
}

ul {
  display: flex;
  list-style: none;
}
li {
  padding: 0 15px;
}

.logo img {
  width: 50px;
}

/* 창 크기 가로가 768 이하일 때 */
@media screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
  }
  
}

main {
  background-image: url(../images/coffee-2242213_1920.jpg);
  background-repeat: none;
  background-size: cover;
  height: 600px;
}
h2 {
  position: relative;
  top: 300px;
  left: 45px;
  font-size: 1em;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  position: relative;
  top: 300px;
  left: 45px;
  background-color: #01a1dd;
  cursor: pointer;
  padding: 5px 24px;
  color: whitesmoke;
  border: 0;
  font-weight: 400;
}

.ment {
  position: relative;
  top: 295px;
  left: 45px;
  font-size: 3em;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  color: gray;
  font-weight: 600;
  letter-spacing: 1.5px; /* 자간 */
  font-size: 14px;
  padding: 10px 50px;
}

.footer a {
  font-size: 24px;
}

nav a:hover {
  color: #01a1dd;
  background-color: rgb(229, 235, 235);
}
